<div class="jumbotron center">
	<div class="container">
	<h1>Welcome to Croomer</h1>
		<p> 
			Click here to <%= link_to "Sign Up", "#", class: "btn btn-danger" %>
			<%= link_to "Log In", "#", class: "btn btn-default btn-lg"%>
		</p>
	</div>
</div>

